storage:
  postgres:
    postgres_url: ${DAGSTER_POSTGRES_URL}
    should_autocreate_tables: true
run_coordinator:
  module: dagster._core.run_coordinator
  class: DefaultRunCoordinator
run_launcher:
  module: dagster._core.launcher
  class: DefaultRunLauncher
compute_logs:
  module: dagster._core.storage.noop_compute_log_manager
  class: NoOpComputeLogManager

